.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar a{
    text-decoration: none;
}

.navBar li{
    color: rgb(78, 78, 78);
    font-weight: 500;
    padding: 0.7rem;
    font-size: 1rem;
    margin-bottom: -1rem;
}