.productCard{
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    width: 80%;
    border-radius: 1rem;
}

.productImage {
    max-width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
}

.productInfoName {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2rem 0.5rem 0 0.5rem;
    padding: 0 0.5rem;
    color: var(--clr-main);
    line-height: 1.7rem;
}

.productInfoPrice {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0 0.5rem;
    color: var(--clr-grey);
}