*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

:root {
  --clr-main: rgb(78, 78, 78);
  --clr-white: rgb(255,255,255);
  --clr-grey: rgb(173, 173, 173);
  --clr-gradient: linear-gradient(to right, rgba(4,232,155,0.5),rgba(4,213,183,0.5),rgba(4,177,230,0.5));
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main {
  background: var(--clr-gradient);
}